#searchDiv{
    padding-top: 1%;
    text-align: center;
    background-color: aliceblue;
}

#username{
    font-size: 27px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

#button{
    font-size: 18px;
    padding: 10px;
    border-radius: 12px;
    margin: 24px;
    background-color: beige;
}

#profileDiv{
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 4%;
    border-style: outset;
    border-radius: 29px;
    background-color: whitesmoke;
}

.repoDiv{
    width: 40%;
    float: left;
    text-align: left;
    background-color: aliceblue;
}

.container{
    width: 80%;
    display: block;
    margin:auto;
    font-family:cursive
}